autopep8
bokeh
pylint
numba
cython
tqdm
matplotlib
scipy
scikit-learn
scikit-image
h5py
pytest
torch>=1.6,<1.7
nltk
pydot
pyyaml
msgpack
spacy
gpustat
seaborn
imageio
py3nvml
pynvml
GPUtil
tensorflow
librosa
inflect
unidecode
lws
typing
segtok
sqlitedict
deprecated
transliterate
contextlib2
lxml
boto3
keras
imgaug
Augmentor
nvstatsrecorder
plotly
transformers
xfmers
allennlp
